body {
  background-color: black;


	color: yellow; 
  font-family: 	sans-serif;	
}
a{
	color: yellow;
	text-decoration: underline dashed;
}

a:hover{
	color: white;
	text-decoration:underline;
}

img{
	border: 0px;
	outline: 0px;
}
h1 {
 	font-family: sans-serif	;
}
p {
  
}

figure {
  background-color: lightblue;
}

figcaption {
font-family: 	monospace;	

}